<!-- Error Page-->

<%- include partials/header.ejs %>

<%- include partials/mainnav.ejs %>

<div class = "container">
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</div>

<%- include partials/bottomnav.ejs %>

<%- include partials/footer.ejs %>
